body{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    background-color: lightgrey;
}
/*=========== HEADER ===========*/
#header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 80px;
    text-align:center;
    background-repeat: repeat-x;
    background-color:peachpuff;
}



#tabs-top{
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color:black;
}

#tabs-top a{
    float: left;
    display: block;
    width: 33%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}

/*=============== MAIN-HOME ==============*/

#main-home{
    margin-top: 120px;
}

/*============== BOTTOM-TABS ==============*/


#tabs-bottom{
      position : fixed;
      bottom   : 0;
      left     : 0;
      z-index  : 500;
      width    : 100%;
      height   : 40px;
      background-color:black;
}

    #tabs-bottom a {
        float: left;
        display: block;
        width: 33%;
        height: 35px;
        font-weight: 700;
        color: white;
        text-align: center;
        text-decoration: none;
        padding-top: 12px;
    }

/*============== MAIN ==============*/

#main{
    margin-top: 119px;
    background: url('images/map-blur.png');
    background-repeat: repeat-y;
}

#content{
    padding-top: 1px;
    padding-bottom: 50px;
}


/*============== INFO-BOX ==============*/

a.info-box{
    text-decoration: none;
    background: rgba(255, 255, 255, .8);
    width: 90%;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 1px;
}

.info-box img{
    height: 70px;
    margin: 10px;
    float: left;
}

.info-box h3{
      padding : 0;
      margin-bottom :0;
      width : 90%;
      color : #572800;
}

.info-box p{
      margin  : 0;
      padding : 0;
      width   : 90%;
      color   : #131313;
}

.info-box img.right{
    float: right;
    margin-top: 25px;
    height: 40px;
}

/*============== INFO BOX FULL ==============*/

#info-box-full{
    background-color: rgba(255, 255, 255, .8);
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 10px;
}

#info-box-full img{
    width: 100%
}

#info-box-full h3{
    text-align: center;
}

/*============== WEATHER ==============*/

img.info-box-weather-icon{
    height: 30px;
    width: 30px !important;
    margin: 10px;
    float: left;
}

h1.info-box-weather-icon{
    font-size: 65px;
    font-weight: 200;
    padding: 0;
    margin: 0;
}

table{
    width: 100%;
}

td{
    border-top: 1px solid #131313;
}

/*============== FORM ==============*/

input{
    width: 100%;
    height: 25px;
    margin: 12px, 0;
    border: 1px, solid, #929292;
}

textarea{
    width: 100%;
    height: 65px;
    margin: 12px, 0;
    border: 1px, solid, #929292;
}

.button{
    display: block;
    width: 100%;
    background-color:aqua;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 2px, 0;
    padding: 8px, 0;
}
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.colum {
    float: left;
    width: 50%;
    padding: 80px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.containe {
    margin: 50px;
    padding: 100px 0px 0px 0px;
    width: 100%;
    text-align:center;
    
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #d1ba45;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #d1ba45;
    }

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

table, th, td {
    border: 1px solid black;
}

    td:nth-child(even), th:nth-child(even) {
        background-color: #D6EEEE;
    }

.slot {
    margin: 30px;
    padding: 50px 0px 0px 0px;
    width: 100%;
    text-align: center;
}




